#sky {
    height: 400px;
    background-color: #1c1341;
    border:1px solid #000;
    animation: background-change 9s infinite;
}

#sun {
  position:relative;
  width:45px;
  height:45px;
  border-radius:50%;
  background-color:red;
  animation: sun-movement 9s reverse infinite;
}


#sky {
    overflow: hidden;
}

@keyframes sun-movement{
    from {
        top: 100%;
        left: calc(0% + 45px);
        background-color: red;
        
    }

    50% {
        top:calc(1% + 45px);
        left:calc(50% - 22.5px);
        background-color: yellow;

    }

    to {
        top: 100%;
        left: calc(100% - 45px);
        background-color: orangered;
    
    }
}

@keyframes background-change{
    from {
        background-color: #1c1341;
    }

    20% {
        background-color: darkorange;
    }

    60% {
        background-color: skyblue;
    }

    85% {
        background-color: crimson;
    }

    to {
        background-color: #1c1341;
    }
}